*{
    margin: 0px;
    border: 0px;
}
body{
    background-color: black;
    color: white;
}

form{
    margin-left: 40%;
    
}

input{
    display: block;
    border-radius: 10px;
    width: 40%;
    
    font-size: 160%;
}

button{
    margin-left: 7%;
    margin-top: 2%;
    width: 21%;
    height: 30px;
    background-color: rgb(99, 61, 172);
    font-size: 150%;

}
button:hover{
    cursor: pointer;
    background-color: rgb(122, 122, 235);
}

.fa-twitter{
    margin-left: 48%;
    font-size: 1000%;
    margin-top: 10%;
    margin-bottom: 3%;
    color:rgb(139, 139, 236);
}